@mixin flex ($direction: column, $align: center, $justify: center, $wrap: wrap) {
    display: flex;
    flex-wrap: $wrap;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}
.wrapper {
    @include flex($direction: column, $align: center, $justify: flex-start);
    height: 100vh;
    .result {
        width: 800px;
        height: 300px;
        padding: 10px;
        font-size: 18px;
        color: #444;
        text-align: start;
        text-rendering: auto;
        background-color: white;
        border: 1px solid rgb(169, 169, 169);
        
    }
    .keyboard {
        width: 704px;
        height: 250px;
        padding-top: 10px;
        background-color: whitesmoke;
        @include flex($direction: row, $align: flex-start, $justify: flex-start);
            .key {
                width: 40px;
                height: 40px;
                margin-left: 6px;
                font-weight: 500;
                line-height: 40px;
                text-align: center;
                color: #fff;
                background: #3a424e;
                border-radius: 3px;
                cursor: pointer;
            }
            .click {
                border-radius: 50%;
                background-color: blue;
            }
            .clickCaps {
                border-radius: 50%;
                background-color: blue;
            }
            .backspace {
                width: 100px;
            }
            .tab, .del {
                width: 50px;
            }
            .capslock, .shift {
                width: 100px;
            }
            .enter, .shift-right {
                width: 86px;
            }
            .space {
                width: 330px;
            }
        }
    }

    

 
